:root{
    --text-primary: #F8F3ED;
    --text-dark: #000000;
    --background: #403221;
    --highlight: #71614e;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    margin: 0;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
}

h1 {
    text-align: center;
}

#cookieBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 60px;
    padding-top: calc(50vh - 200px);
    overflow: hidden;
}

.cookie {
    position: relative;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: -40px;

    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    background-color: rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-out, z-index 0s;
}

.cookie[data-cookie-i-d="snowball"]{
    width: 160px;
    height: 160px;
}

.cookie:hover {
    transform: translateY(-35px) rotate(30deg);
}

.cookie.zooming {
    pointer-events: none;
    cursor: default;

    z-index: 1000;
}

#recipeDisplay {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;

    background-color: var(--text-primary);
    color: var(--text-dark);
    border-radius: 20px;
    padding: 20px;

    width: calc(100vw - 40px);
    max-width: 600px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
}

#recipeDisplay h1,
#recipeDisplay h2 {
    margin-bottom: 10px;
}

#recipeDisplay p {
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.2em;
}

#recipeDisplay li {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 8px;
    font-family: inherit;
    line-height: 1.3;
    list-style-position: inside;
}

#recipeDisplay ul li{
    margin-bottom: 4px;
    list-style: none;
}

#recipeDisplay button {
    display: block;
    margin: 20px auto 10px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--background);
    color: white;
}

#recipeDisplay button:hover {
    background-color: var(--highlight);
}

#cookieNameTip {
    position: absolute;
}

#recipeDisplay.hidden,
#cookieNameTip.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s, visibility 0.1s;
}

/* Tablet and Mobile */
@media (max-width: 768px) {
    #cookieBox {
        padding-top: 100px;
    }

    #recipeDisplay {
        padding: 15px;
        max-height: calc(100vh - 30px);
        width: calc(100vw - 30px);
    }

    #recipeDisplay pre {
        font-size: 14px;
    }
}